{% extends "FrontOfficeUserBundle::layout_profile.html.twig" %}
{% block content %}
    <div class="col-lg-12">
        <div class="row mb20"></div>
        <div class="col-lg-12">
            <div class="tabsContainer">
                <ul class="nav nav-tabs nav-justified" role="tablist">
                    <li class="">
                        <a href="{{ path('show_profil', { 'id' : user.id }) }}" >
                            <span class="icon-trophy"></span> Events
                        </a>
                    </li>
                    <li class="">
                        <a href="{{ path('club_user', { 'id' : user.id }) }}">
                            <span class="fa fa-users"></span> Clubs
                        </a>
                    </li>
                    <li class="active">
                        <a href="{{ path('albums_user', { 'id' : user.id }) }}" >
                            <span class="icon-doc"></span> Albums
                        </a>
                    </li>
                    <li class="">
                        <a href="#videos" role="tab" data-toggle="tab">
                            <span class="icon-film"></span> Vidéos
                        </a>
                    </li>
                    <li class="">
                        <a href="{{ path('palmares_user', { 'id' : user.id }) }}" >
                            <span class="icon-badge"></span> Palmares
                        </a>
                    </li>
                </ul>
                <div class="tab-content">

                    <ul href="#uploadalbum" data-toggle="modal"  class="tab-pane fade scrollbar active in" id="albums" > 
                        <div class="buttonsWrapper col-xs-12">
                            <a class="btn btn-round btn-default btn-sm rightus" href="#"><span class="fa icon-plus state"></span> <span class="state">Ajouter </span></a><br>
                        </div>
                        {% for album in albums %}
                            <div class="row">
                                <br>
                                <div class="col-md-4" >
                                    <div data-linkto="" class="card albumus" >
                                        <div class="figure" id="main">
                                            <a href="{{ path('photos_user', {'id' : user.id}) }}" >
                                                <img src="images/1.jpg" />
                                            </a>
                                            <div class="figView"></div>
                                        </div>
                                        <h2 align="center">{{ album.nom }}</h2>
                                        <div align="center" >
                                            <a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="modifier"><span class="icon-settings"></span></a>
                                            <a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="supprimer"><span class="icon-trash"></span></a>
                                        </div>
                                        <br>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="clearfix"></div>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!---------------- upload album----------------------------->

    <div class="modal fade" id="uploadalbum" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="contactLabel">Ajouter Album</h4>
                </div>
                <div class="modal-body">
                    <form class="contactForm">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cfItem">
                                <input type="text" placeholder="Titre de l'album" class="form-control">
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cfItem">
                                <div class="formField open ">

                                    <a href="#" data-toggle="dropdown" class="btn btn-gray dropdown-btn dropdown-toggle propTypeSelect">
                                        <span class="dropdown-label">Visible</span>
                                        <span class="fa fa-angle-down dsArrow"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-select full" role="menu">
                                        <li class="active"><input type="radio" name="pType" checked="checked"><a href="#">Tout le monde</a></li>
                                        <li><input type="radio" name="pType"><a href="#">Amis</a></li>
                                        <li><input type="radio" name="pType"><a href="#">Moi uniquement</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a href="#" data-dismiss="modal" class="btn btn-round btn-o btn-gray">Annuler</a>
                    <a href="#" class="btn btn-round btn-green">Confirmer</a>
                </div>
            </div>
        </div>
    </div>



    <!--------------- fin upload album ------------------>
{% endblock %}




