{% extends "FrontOfficeUserBundle::layout_profile.html.twig" %}
{% block content %} 
    <div class="col-lg-12">
        <div class="row mb20">
        </div>
        <div class="col-lg-12">
            <div class="tabsContainer">
                 <ul class="nav nav-tabs nav-justified" role="tablist">
                    <li class="">
                        <a href="{{ path('show_profil', { 'id' : user.id }) }}" >
                            <span class="icon-trophy"></span> Events
                        </a>
                    </li>
                    <li class="">
                        <a href="{{ path('club_user', { 'id' : user.id }) }}">
                            <span class="fa fa-users"></span> Clubs
                        </a>
                    </li>
                    <li class="active">
                        <a href="{{ path('albums_user', { 'id' : user.id }) }}" >
                            <span class="icon-doc"></span> Albums
                        </a>
                    </li>
                    <li class="">
                        <a href="#videos" role="tab" data-toggle="tab">
                            <span class="icon-film"></span> Vidéos
                        </a>
                    </li>
                    <li class="">
                        <a href="{{ path('palmares_user', { 'id' : user.id }) }}" >
                            <span class="icon-badge"></span> Palmares
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                      <div class="buttonsWrapper col-xs-12">
                            <a class="btn btn-round btn-default btn-sm rightus" href="#"><span class="fa icon-plus state"></span> <span class="state">Ajouter </span></a><br>
                        </div>
                    <ul class="tab-pane fade active in scrollbar" id="albums" >
                        <div class="row">
                            <br>
                           
                            <div class="col-md-4" >
                                <div data-linkto="" class="card albumus" >
                                    <div class="figure" id="main">
                                        <a href="{{ asset(app.user.WebPath) }}" target="_self" class="inline-block litebox" data-litebox-group="group-1">
                                            <img src="{{ asset(app.user.WebPath) }}" class="inline-block" />
                                        </a>
                                        <div class="figView"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                           
                        </div>
                        <div class="clearfix"></div>
                    </ul>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
