{% extends "FrontOfficeUserBundle::layout_profile.html.twig" %}
{% block content %}
    <div class="col-lg-12">
        <div class="row mb20"></div>
        <div class="col-lg-12">
            <div class="tabsContainer">
                <ul class="nav nav-tabs nav-justified" role="tablist">
                    <li class="active">
                        <a href="{{ path('show_profil', { 'id' : user.id }) }}" >
                            <span class="icon-trophy"></span> Events
                        </a>
                    </li>
                    <li class="">
                        <a href="{{ path('club_user', { 'id' : user.id }) }}">
                            <span class="fa fa-users"></span> Clubs
                        </a>
                    </li>
                    <li class="">
                        <a href="{{ path('albums_user', { 'id' : user.id }) }}" >
                            <span class="icon-doc"></span> Albums
                        </a>
                    </li>
                    <li class="">
                        <a href="#videos" role="tab" data-toggle="tab">
                            <span class="icon-film"></span> Vidéos
                        </a>
                    </li>
                    <li class="">
                        <a href="{{ path('palmares_user', { 'id' : user.id }) }}" >
                            <span class="icon-badge"></span> Palmares
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <ul class="tab-pane fade active in scrollbar" id="events" style=" overflow-x: hidden; overflow-y: auto; overflow-wrap: break-word; max-height: 87%;background-color:#fff;">
                        {% for participation in participations %}
                            <div class="userWidget-2" style="box-shadow:1px 2px 10px 1px rgba(0, 0, 0, 0.13)">
                                <div class="tooltipsContainer avatar"style="height:110px;width:130px;margin-top:-15px">
                                    <a href="{{ path('show_profil', { 'id': participation.participant.id }) }}" class="btn btn-round avatar" data-toggle="tooltip" data-tooltip-class="red" data-placement="right" title="{{  participation.participant.prenom }} {{  participation.participant.nom }}">
                                        <img src="{{  asset(participation.participant.WebPath) }}" alt="avatar"  style="width:100px;height:100px">
                                    </a>
                                </div>
                                <div class="info">
                                    <a href="{{ path('show_event', { 'id' : participation.event.id }) }}" class="name">{{ participation.event.titre }}</a>
                                    <div class="title">Lieu de l'évenement : <span class="address">{{ participation.event.lieu }}</span></div>
                                </div>
                                <div class="info" style="float:right;margin-right:90px">
                                    <div class="title">Date de début : <span class="address">{{ participation.event.dateDebut|date('Y-m-d H:i:s') }}</span></div>
                                    <div class="title">Date de fin : <span class="address">{{ participation.event.dateFin|date('Y-m-d H:i:s') }}</span></div>
                                    <div class="title">Nombre de places : <span class="address">{{ participation.event.nbrPlaces }}</span></div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        {% endfor %}
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

{% endblock %}




