{% extends "FrontOfficeOptimusBundle::layout.html.twig" %}
{% block  body %}
    <div id="wrapper">
        <div id="content" class="max">
            <div class="components">
                <h4>Paramètres</h4>
                <div class="row">
                    <div class="col-md-3">
                        <ol class="breadcrumb">
                            <ul class="notifyList nav">
                                <li class=""><a href="{{ path('setting_user',{'id': app.user.id}) }}" class="notifyName" role="tab" ><span class="notifyIcon icon-settings"></span> Compte</a></li>
                                <li class=""><a href="{{ path('setting_user_confidentiality',{'id': app.user.id}) }}" class="notifyName" role="tab" ><span class="notifyIcon fa fa-unlock-alt"></span> Confidentialité</a></li>
                                <li class="active"><a href="{{ path('setting_user_notifications',{'id': app.user.id}) }}" class="notifyName" role="tab" ><span class="notifyIcon icon-bell"></span> Notifications</a></li>
                            </ul>
                        </ol>
                    </div>
                    <div class="col-md-9">
                        <div class="tabsContainer">
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="notifications">
                                    <div class="panel panel-default">
                                        <div class="panel-heading optimus">Notifications</div>

                                        <table class="table" id="{{app.user.id}}">
                                            <thead>
                                                <tr>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><strong>Type de notification</strong></th>
                                                    <td>
                                                        <div class="notif">{{ app.user.type_notification }}</div>
                                                        <div id="notif"  style="display:none">
                                                            <form action="{{ path('setting_user_notifications', {'id' : entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="form-horizontal form-groups-bordered">
                                                                {{ form_errors(edit_form) }}

                                                                <div class="ops">
                                                                    <div class="form-group col-md-10">
                                                                        {{ form_widget(edit_form.type_notification) }}
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <button style="margin:15px 0 0 20px" type="submit"  value="Submit" class="btn btn-round btn-green">Enregistrer</button>
                                                                    </div>
                                                                </div>
                                                                <div class="clearfix"></div> 
                                                                {{ form_widget(edit_form._token) }}
                                                            </form>
                                                        </div>
                                                    </td>
                                                    <td> 
                                                        <a href="javascript:visibilite('notif');" class="tabledit-edit-button btn btn-sm btn-warning" style="float:right; border-radius: 25px; " >
                                                            <span class="glyphicon glyphicon-pencil"></span>
                                                        </a>
                                                    </td>
                                                </tr>


                                            </tbody>
                                        </table>


                                    </div> 
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
{% endblock %}
{% block javascriptfils %}
    <script>
        function visibilite(thingId)
        {
            var targetElement;
            targetElement = document.getElementById(thingId);
            if (targetElement.style.display == "none")
            {
                $('.' + thingId).hide();
                targetElement.style.display = "";
            } else {
                $('.' + thingId).show();
                targetElement.style.display = "none";
            }
        }
    </script>
{% endblock %}
