{% extends "FrontOfficeOptimusBundle::layout.html.twig" %}
{% block  body %}
    <div id="wrapper">
        <div id="content" class="max">
            <div class="components">
                <h4>Paramètres</h4>
                <div class="row">
                    <div class="col-md-3">
                        <ol class="breadcrumb">
                            <ul class="notifyList nav">
                                <li class="active"><a href="{{ path('setting_user',{'id': app.user.id}) }}" class="notifyName" role="tab" data-toggle="tab"><span class="notifyIcon icon-settings"></span> Compte</a></li>
                                <li class=""><a href="#confid" class="notifyName" role="tab" data-toggle="tab"><span class="notifyIcon fa fa-unlock-alt"></span> Confidentialité</a></li>
                                <li class=""><a href="#notifications" class="notifyName" role="tab" data-toggle="tab"><span class="notifyIcon icon-bell"></span> Notifications</a></li>
                            </ul>
                        </ol>
                    </div>
                    <div class="col-md-9">
                        <div class="tabsContainer">
                            <div class="tab-content">
                                <div class="tab-pane fade active in" id="compte">
                                  <form action="{{ path('setting_user_notifications', {'id' : entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="form-horizontal form-groups-bordered">
                                        {{ form_errors(edit_form) }}
                                        
                                            <div class="col-md-12">
                                                <div class="col-md-4">
                                                    <label class="control-label">Type de notification</label>
                                                </div>
                                                <div class="col-md-6">
                                                    {{ form_widget(edit_form.type_notification) }}
                                                </div>

                                            </div>

                                            <div class="col-sm-5" style="margin-left: 20px;">
                                                <br>
                                                <button type="submit" class="btn btn-blue">Enregistrer</button>
                                            </div>
                                       
                                        {{ form_widget(edit_form._token) }}


                                    </form>  
                                </div>
                                <div class="tab-pane fade" id="confid">Confidentialité</div>
                                <div class="tab-pane fade" id="notifications">Notifications</div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
{% endblock %}
{% block javascriptfils %} 
{% endblock %}
