{% extends "FrontOfficeOptimusBundle::layout.html.twig" %}

{% block body %}
    <div id="wrapper" >
        <div id="content" class="" >
            {% block content %}
            {% endblock %}
        </div>
        <div id="content" class="mob-max" style="overflow: hidden;height: 100%;">
            <div class="singleTop whiteBg" style="height:100%">
                <div class="row mb20">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pb20">
                        <div class="userWidget-1" >
                            <div class="avatar">
                             <a href="#" class=" avatar profilus file" > 
                                 <img src="{{ asset(user.WebPath) }}" alt="avatar" >
                             </a>
                                <div class="ops">
                                </div>
                                <div class="name osLight profilus" ><strong>{{ user.prenom }} {{ user.nom }}</strong></div>
                            </div>
                            <div class="title profilus" >{% if user.profil == 'E' %}Entraineur{% endif %}{% if user.profil == 'S' %}Sportif{% endif %}</div>
                            <div class="address profilus" >
                                <div class="cardRating" style="color:#eab134"> 
                                    <div>{% include 'FrontOfficeRatingBundle:Rating:control.html.twig' with {'id' : 'U'~user.id} %}</div>
                                </div>
                            </div>
                            <div  class="buttonsWrapper" id="{{ user.id }}" >
                                {% if app.user.id != user.id %}

                                    {% if app.user | relation_exists('friendship', user ) %}
                                        {% set pendingInvitations = pendingInvitation(user,app.user)%}
                                            {% if pendingInvitations is empty %}
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-green btn-round dropdown-toggle" data-toggle="dropdown">
                                                        Amis
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li><a href="#">Retirer</a></li>
                                                        <li><a href="#">Signaler</a></li>
                                                    </ul>
                                                </div>

                                            {% elseif pendingInvitations[0].object2Id == user.id %} 

                                                <a id="enattente" class="btn btn-green btn-round btn-success" href="#"  >
                                                    <span style="color:#fff" class="fa icon-user-follow state-active"></span> 
                                                    <span class="state" >En attente</span>
                                                </a>
                                            {% endif %}
                                            {% else %}
                                                <div id="replace-enattente" class="btn btn-green btn-round">
                                                    <a id ="add_relation"   href="#"  >
                                                        <span class="fa icon-user-follow state"></span> 
                                                        <span  class="state"  >Ajouter</span>
                                                    </a>
                                                </div>
                                                {% endif %}
                                                    <a id='envoiemessage' href="#contactAgent" data-toggle="modal" class="btn btn-green btn-round">
                                                        <span  class="fa fa-envelope-o"></span> Envoyer Message</a>
                                                        {% endif %}
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>

                                                <div class="userWidget-2" >
                                                    <div class="col-md-6">
                                                    <div class="avatar">
                                                    </div>
                                                    <div class="info">
                                                        <div class="name">Informations</div>
                                                        <div class="title">Date de naissance : <span class="address">{{ user.dateNaissance|date('Y-m-d') }}</span></div>
                                                        <div class="title">Adresse : <span class="address">{{ user.adresse }}</span></div>
                                                    </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                    <div class="info">
                                                        <div class="name"></div>
                                                        <div class="title">Numéro de téléphone : <span class="address">{{ user.tel }}</span></div>
                                                        <div class="title">Email: <span class="address">{{ user.email }}</span></div>
                                                        <div class="title">Pseudo: <span class="address">{{ user.username }}</span></div>
                                                    </div> </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="clearfix"></div>
                                                <div class="userWidget-2" >
                                                   <div class="avatar">
                                                    </div>
                                                    <div class="info">
                                                        <div class="name">Liste des amis</div>
                                                    </div> <div class="clearfix"></div>
                                                    <ul class="notifyList scrollbar" >
                                                        {% set friends = getFriends(user.id) %}
                                                            {% for friend in friends %}
                                                                <div class="tooltipsContainer avatar">
                                                                    <a href="{{ path('show_profil', { 'id': friend.id}) }}" class="btn avatar" data-toggle="tooltip" data-tooltip-class="red" data-placement="top" title="{{ friend.prenom }} {{ friend.nom }}">
                                                                        <img src="{{ asset(friend.getWebPath) }}" alt="avatar" ></a>
                                                                </div>
                                                            {% endfor %}   
                                                        </ul>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="modal fade" id="contactAgent" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                <h4 class="modal-title" id="contactLabel">Optimus Message</h4>
                                            </div>
                                            <div class="modal-body">
                                                <form class="contactForm">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cfItem">
                                                            <label  class="idReciever" id="{{ user.id }}" type="text" placeholder="Nom et Prénom" >Envoyer Message à <b>{{ user.prenom }} {{ user.nom }}</b></label>
                                                            <label  id="messageEch" class="messageEch">Envoie echoué</label>
                                                            <label  id="messageEnvoyer" class="messageEnvoyer">Envoie effectué</label>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cfItem">
                                                            <textarea id="txt-message"  placeholder="Message" rows="3" class="form-control"></textarea>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <a id="btn-fermer-message" type="reset" href="#" data-dismiss="modal" class="btn btn-round btn-o btn-gray">Fermer</a>
                                                <a id="envoyerMessage" href="#" class="btn btn-round btn-green">Envoyer message</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endblock %}
                                   
