{% extends '::base.html.twig' %}

{% block body -%}
     <form action="{{ path('update-event', { 'id' : entity.id}) }}" method="post" class="form-horizontal0 form-groups-bordered">
                                    <br>
                                    {{ form_errors(edit_form) }}

                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <div class="col-md-2 marge_haut">
                                                <label class="control-label">Titre</label>
                                            </div>
                                            <div class="col-md-6">
                                                {{ form_widget(edit_form.titre) }}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-2 marge_haut">
                                                <label class="control-label">Type</label>
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(edit_form.type) }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <div class="col-md-2 marge_haut">
                                                <label class="control-label">Frais</label>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <span class="input-group-addon">€</span>

                                                    {{ form_widget(edit_form.frais) }}

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-4 marge_haut">
                                                <label class="control-label">Nombre de places</label>
                                            </div>
                                            <div class="col-md-6">
                                                {{ form_widget(edit_form.nbrPlaces) }}
                                            </div>
                                        </div>
                                    </div>  

                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <div class="col-md-4 marge_haut">
                                                <label class="control-label">Date de début</label>
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(edit_form.dateDebut) }}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-4 marge_haut">
                                                <label class="control-label">Date de clôture</label>
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(edit_form.dateFin) }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <p class="text-info"><i class="entypo-info-circled"></i>Naviguer dans la carte, Cliquer pour  choisir votre  lieu de l'évènement</p><br>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-2 marge_haut">
                                                    <label class="control-label">Lieu</label>
                                                </div>
                                                <div class="col-md-7">
                                                    {{ form_widget(edit_form.lieu, { 'id': 'adresse' }) }}
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-2 marge_haut">
                                                    <label class="control-label">Latitude</label>
                                                </div>
                                                <div class="col-md-7">
                                                    {{ form_widget(edit_form.lat, { 'id': 'lat_id' }) }}
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-2 marge_haut">
                                                    <label class="control-label">Longitude</label>
                                                </div>
                                                <div class="col-md-7">
                                                    {{ form_widget(edit_form.lng, { 'id': 'lng_id' }) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="panel panel-invert" data-collapsed="0" style="zoom: 1; position: static;">
                                                <div  id="normal" style="height: 300px;"></div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <div class="col-md-3 marge_haut">
                                                <label class="control-label">Description</label>
                                            </div>
                                            <div class="col-md-9">
                                                {{ form_widget(edit_form.description) }}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-2 marge_haut">
                                                <label class="control-label">URL</label>
                                            </div>
                                            <div class="col-md-10">
                                                {{ form_widget(edit_form.url) }}
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-sm-5">
                                        <br>
                                        <button type="submit" class="btn btn-success"><i class="entypo-check"></i>Enregistrer</button>
                                        <button type="reset" class="btn btn-danger">annuler</button>
                                    </div>

                                    {{ form_widget(edit_form._token) }}
                                </form>
{% endblock %}
