{% extends "FrontOfficeOptimusBundle::layout.html.twig" %}
{% block body %}



    <!-- Content -->

    <div id="wrapper">
        <div id="mapView" class="mob-min"><div class="mapPlaceholder"><span class="fa fa-spin fa-spinner"></span> Loading map...</div> </div>

        <div id="content" class="mob-max" >

            <div class="col-lg-12"><div class="row mb20">



                </div>



                <div class="row">
                    <div id="notdate" style="display: none;" class="alert alert-danger">
                        <a class="close" data-dismiss="alert">×</a>
                        date fin ne doit pas inferieur au date debut
                    </div>
                    <form action="{{ path("add-event") }}" {{ form_enctype(form) }} method="post">
                        {{ form_errors(form) }}
                        <div class="col-xs-12 ">
                            <div class="panel panel-default">
                                <div class="panel-heading optimus"> <span class="navLabel">Ajouter un évenement</span></div>
                                <div class="panel-body">

                                    <div class="form-group col-xs-6">
                                        {{ form_widget(form.titre) }}
                                    </div>
                                    <div class="form-group col-xs-6">
                                        {{ form_widget(form.type) }}
                                    </div>
                                    <div class="form-group col-xs-6">
                                        {{ form_widget(form.nbrPlaces) }}                                      
                                    </div>


                                    <div class="form-group col-xs-6">

                                        <div class="input-group search-optimus">
                                            {{ form_widget(form.frais) }}
                                            <div class="input-group-addon round centrerAdon">&euro;</div>
                                        </div>
                                    </div> 
                                    <div class="form-group col-xs-6">

                                        {{ form_widget(form.dateDebut, { 'id': 'some_class_1' }) }}

                                    </div>
                                    <div class="form-group col-xs-6">

                                        {{ form_widget(form.dateFin, { 'id': 'some_class_2' }) }}

                                    </div>
                                    <div class="form-group col-xs-6">
                                        <span>{{ form_widget(form.file) }}</span>
                                        <p class="help-block">Télécharger le logo du club</p>
                                    </div>
                                    <div class="form-group col-xs-6" >

                                        {{ form_widget(form.description) }}

                                    </div>


                                </div>
                            </div>

                        </div> 


                        <div class="col-xs-12 ">
                            <div class="panel panel-default">
                                <div class="panel-heading optimus">veuiller choisir l'emplacement d'évenement dans la map</div><div class="panel-body">
                                    <div class="form-group col-xs-12">
                                        {{ form_widget(form.lieu , { 'id': 'lieu' }) }}

                                    </div>


                                    <div class="form-group col-xs-6 " style="display: none; visibility: hidden;">
                                        {{ form_widget(form.lat, { 'id': 'lat_id' }) }}

                                    </div>
                                    <div class="form-group col-xs-6 " style="display: none; visibility: hidden;">

                                        {{ form_widget(form.lng, { 'id': 'lng_id' }) }}
                                    </div>



                                </div></div>
                        </div>
                        <div style="text-align: center">

                            <button id="ff" type="submit" value="Submit" class="btn btn-round btn-green">Enregistrer</button>
                            <button type="reset" value="Reset" class="btn btn-round btn-green">Reset</button>
                        </div>

                        {{ form_widget(form._token) }}
                        {{ form_rest(form) }}
                    </form>
                </div>

            </div>
        </div>

        <div class="clearfix"></div>
    </div>


{% endblock %}
{% block javascriptfils %}
    <script>
        $("#agence_contratbundle_contrat_dater, #agence_contratbundle_contrat_dates").ready(function() {
            var start = $('back_officebundle_evennement_dated').val();
            var end = $('back_officebundle_evennement_datef').val();
            if (start != '' && end != '') {
                var tabstart = start.split("/");
                var tabend = end.split("/");
                diff = new Date(new Date(tabend[2], tabend[1], tabend[0]) - new Date(tabstart[2], tabstart[1], tabstart[0]));
                days = diff / 1000 / 60 / 60 / 24;
                if (days < 0) {
                    $('#back_officebundle_evennement_dated').val("");
                    $('#back_officebundle_evennement_datef').val("");
                    var alrt = '<div id="alrt2" class="alert alert-danger"><button type="button" class="close" data-dismiss="alert"> <i class="icon-remove"></i></button> <strong> <i class="icon-remove"></i>Attention !</strong> La periode  ne peut pas étre négative. <br></div>'
                    $("#datecontrat").prepend(alrt);
                    $('.modal-footer').css("display", "none");
                }
                else {
                    $("#alrt2").remove();
                    $('.modal-footer').css("display", "");
                }
            }
        });
        $("#some_class_2").change(function() {
            var start = $('#some_class_1').val();
            var end = $('#some_class_2').val();
            if (start != '' && end != '') {
                var tabstart = (new Date(start).getTime() / 1000);
                var tabend = (new Date(end).getTime() / 1000);
                if (tabstart > tabend) {
                    $('#notdate').show();
                    $('#some_class_2').val("");
                }
            }
        });
    </script>
    <script>

        var markerevent;
        var geocoder;
        geocoder = new google.maps.Geocoder();
        google.maps.event.addListener(map, 'click', function(event) {


            document.getElementById('lat_id').value = event.latLng.lat();
            document.getElementById('lng_id').value = event.latLng.lng();
            //latlng = event.latLng;
            var latlng = new google.maps.LatLng(event.latLng.lat(), event.latLng.lng());
            //latlng = event.latLng;

            geocoder.geocode({
                'latLng': latlng
            }, function(results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    if (results[0]) {
                        document.getElementById('lieu').value = results[0].formatted_address;
                        placeMarker(event.latLng);
                    } else {
                        alert('No results found');
                    }
                } else {
                    alert('Geocoder failed due to: ' + status);
                }

            });

        });
        function placeMarker(location) {

            if (markerevent === undefined) {
                markerevent = new google.maps.Marker({
                    position: location,
                    map: map,
                    draggable: true,
                    animation: google.maps.Animation.DROP,
                });
                markerevent.setIcon('/Optimus/web/template/images/marker-green.png');
            }
            else {
                markerevent.setPosition(location);
            }
        }
    </script>
{% endblock %}
