{% extends "FrontOfficeOptimusBundle::layoutEvent.html.twig" %}
{% block content %}

    <div class="col-lg-12"><div class="row mb20">



        </div>
        <div class="col-lg-12">
            <div class="tabsContainer">
                <ul class="nav nav-tabs nav-justified" role="tablist">
                    <li class="active"><a href="{{ path('show_event', {'id': event.id}) }}" role="tab" data-toggle="tab"><span class="icon-trophy"></span> Participants</a></li>
                    <li class=""><a href="{{ path('photos_event', {'id': event.id}) }}" role="tab"><span class="icon-doc"></span> Photos</a></li>
                    <li class=""><a href="{{ path('videos_event', {'id': event.id}) }}" role="tab"><span class="icon-film"></span> Vidéos</a></li>
                </ul>
                <div class="tab-content">

                    <ul class="tab-pane fade  active in scrollbar" id="participants" >

                        <div class="row">
                            {% for participant in participants %}
                            <div class="col-md-4">

                                <div class="tooltipsContainer agent notifyList">
                                    <a href="{{ path('show_profil',{'id': participant.id}) }}" class=" btn btn-round agent-avatar"  data-toggle="tooltip" data-tooltip-class="red" data-placement="bottom" title="{{participant.prenom}} {{participant.nom}}">
                                        <img src="{{ asset(participant.WebPath) }}" alt="">
                                        <div class="pulse border-green pulseoptimus"></div>
                                    </a>
                                    <div class="info">
                                        <a href="{{ path('show_profil',{'id': participant.id}) }}"> <div class="name clubumus"><strong>{{participant.prenom}} {{participant.nom}}</strong></div></a>
                                        <div class="title">{{participant.profil}}</div>

                                    </div><br>
                                </div>
                            </div>
                            {% endfor %}

                        </div>

                        <div class="clearfix"></div>

                    </ul>

                </div>
                <div class="clearfix"></div>

            </div>

        </div>

    </div>
{% endblock %}