{% extends "::baseA.html.twig" %}
{% block stylesheets %}
    <link href="{{ asset('template/css/font-awesome.css') }}" rel="stylesheet">
    <link href="{{ asset('template/css/jquery-ui.css') }}" rel="stylesheet">
    <link href="{{ asset('template/css/datepicker.css') }}" rel="stylesheet">
{% endblock %} 

{% block navigation %}
    <div id="header" style="box-shadow:0px 1px 20px rgba(0, 0, 0, 0.3)">
        <div class="home-logo osLight" style="margin:12px 0px 0 15px;"><a href="{{ path('index_optumis') }}"><img src="{{ asset('template/images/logo.png') }}"></a> </div>
        <a href="#" class="navHandler" style="padding-top:18px;font-size:18px;color:#c02100"><span class="fa fa-list-ul"></span></a>
        <div class="search"><form action="" class="search-form" name="formsearch">
                <input type="hidden" name="kwtype" value="0">
                <input class="search-optimus" name="keyword" type="text" id="search-text" placeholder="Recherche Optimus..." style="
                       text-indent:20px;
                       border-radius: 25px;      
                       height: 37px;      
                       border: 1.5px solid #C02100;      
                       width: 510px;      
                       margin: 12px -2px 0 5px;

                       ">
                <a href="#" data-toggle="modal" data-target="#signin" style="margin-left: -22px;">
                    <span class="notifyIcon fa fa-sort-down" style="color:#c02100"></span></a>
                <button type="submit" class="btn btn-sm btn-green" style="border-radius: 25px;
                        height: 37px;
                        margin-left: 18px;"><span class="icon-magnifier"></span></button>
            </form>


        </div>
        <div class="headerUserWraper">
            <a href="#" class="userHandler dropdown-toggle" data-toggle="dropdown"><span class="icon-user"></span></a>
            <a href="#" class="headerUser dropdown-toggle" data-toggle="dropdown">
                <img class="avatar headerAvatar pull-left" src="{{ asset( app.user.getWebPath ) }}" alt="avatar">
                <div class="userTop pull-left" style="margin:13px 0 0 7px">
                    <span class="headerUserName">{{ app.user.nom }} {{ app.user.prenom }}</span> <span class="fa fa-angle-down"></span>
                    <div class="cardRating" style="color:#eab134">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star-o"></span>
                    </div>
                </div>
                <div class="clearfix"></div>
            </a>
            <div class="dropdown-menu pull-right userMenu" role="menu">
                <div class="mobAvatar">
                    <img class="avatar mobAvatarImg" src="{{ asset( app.user.getWebPath ) }}">
                    <div class="mobAvatarName">{{ app.user.nom }} {{ app.user.prenom }}</div>
                </div>
                <ul>
                    <li><a href="{{ path('fos_user_profile_show') }}"><span class="glyphicon glyphicon-user"></span>Profile</a></li><li><a href="#"><span class="fa fa-users"></span>Mes clubs</a></li><li><a href="profile.html"><span class="fa fa-trophy"></span>Mes évenements</a></li>
                    <li><a href="#"><span class="icon-settings"></span>Settings</a></li><li><a href="#"><span class="glyphicon glyphicon-globe"></span>Historique</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ path('fos_user_security_logout') }}"><span class="icon-power"></span>Deconnexion</a></li>
                </ul>
            </div>
        </div>
        <div class="headerNotifyWraper">

            <a href="#" class="headerNotify dropdown-toggle" data-toggle="dropdown">
                <span class="notifyIcon icon-bell"></span>
                {% set nbsNotification = getNombreNotification(app.user, app.user.createdAt) %}
                    {% for nbNotification in nbsNotification  %}
                        <span class="counter">{{ nbsNotification |length }}</span>
                    {% endfor %}
                </a>
                <div class="dropdown-menu pull-right notifyMenu" role="menu">
                    {% set notifications = getNotifications(app.user, app.user.createdAt)%}
                        <div class="notifyHeader">
                            <span>Notifications</span>
                            <a href="#" class="notifySettings icon-settings"></a>
                            <div class="clearfix"></div>
                        </div>
                        <ul class="notifyList scrollbar" style=" overflow-x: hidden; overflow-y: auto; overflow-wrap: break-word; max-height: 250px;background-color:#fff;">
                            {% for notification in notifications  %}
                                {% set notificateur = getUser(notification.notificateur) %}
                                    {% if notification.event != null  %}
                                        {% set participations = getParicipationEventNotification(notification.event.id,notification.datenotification) %}
                                            {% if notification.type == 'add' %}
                                                <li>
                                                    <a href="#">
                                                        <img class="avatar pull-left" src="{{ asset(notificateur.getWebPath)}}" alt="avatar">
                                                        <div class="pulse border-grey"></div>
                                                        <div class="notify pull-left">
                                                            <div class="notifyName">{{ notificateur.prenom }} {{ notificateur.nom }} a publié l'évenement {{ notification.event.titre }}</div>
                                                            <div class="notifyTime">{{ notification.getDuréeNotification() }}</div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </a>
                                                </li>
                                            {% elseif notification.type == 'Update' %}
                                                <li>
                                                    <a href="#">
                                                        <img class="avatar pull-left" src="{{ asset(notificateur.getWebPath)}}" alt="avatar">
                                                        <div class="pulse border-grey"></div>
                                                        <div class="notify pull-left">
                                                            <div class="notifyName">{{ notificateur.prenom }} {{ notificateur.nom }} a modifier l'évenement {{ notification.event.titre }}</div>
                                                            <div class="notifyTime">{{ notification.getDuréeNotification() }}</div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </a>
                                                </li>
                                            {% elseif notification.type == 'delete' %}
                                                <li>
                                                    <a href="#">
                                                        <img class="avatar pull-left" src="{{ asset(notificateur.getWebPath)}}" alt="avatar">
                                                        <div class="pulse border-grey"></div>
                                                        <div class="notify pull-left">
                                                            <div class="notifyName">{{ notificateur.prenom }} {{ notificateur.nom }} a annuler l'évenement {{ notification.event.titre }}</div>
                                                            <div class="notifyTime">{{ notification.getDuréeNotification() }}</div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </a>
                                                </li>
                                            {% endif %}
                                            {% elseif notification.club != null  %}
                                                <li>
                                                    <a href="#">
                                                        <img class="avatar pull-left" src="{{ asset(notificateur.getWebPath)}}" alt="avatar">
                                                        <div class="pulse border-grey"></div>
                                                        <div class="notify pull-left">
                                                            <div class="notifyName">{{ notificateur.prenom }} {{ notificateur.nom }} a publié le club {{ notification.club.nom }}</div>
                                                            <div class="notifyTime">{{ notification.getDuréeNotification() }}</div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </a>
                                                </li>
                                                {% elseif notification.entraineur != null  %}
                                                    <li>
                                                        <a href="{{ path('show_profil',{ 'id': notification.entraineur.id})}}">
                                                            <img class="avatar pull-left" src="{{ asset(notificateur.getWebPath)}}">
                                                            <div class="pulse border-grey"></div>
                                                            <div class="notify pull-left">
                                                                <div class="notifyName">l'entraineur {{ notificateur.prenom }} {{ notificateur.nom }} inscrit</div>
                                                                <div class="notifyTime">{{ notification.getDuréeNotification() }}</div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </a>
                                                    </li>
                                                    {% endif %}
                                                        {% endfor %}
                                                        </ul>
                                                        <a href="#" class="notifyAll">See All</a>
                                                    </div>
                                                </div>
                                                <div class="headerNotifyWraper">
                                                    <a href="#" class="headerNotify dropdown-toggle" data-toggle="dropdown">
                                                        <span class="notifyIcon fa fa-envelope-o"></span>
                                                        <span class="counter">5</span>
                                                    </a>
                                                    <div class="dropdown-menu pull-right notifyMenu" role="menu">
                                                        <div class="notifyHeader">
                                                            <span>Messages</span>
                                                            <a href="#" class="notifySettings icon-settings"></a>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                        <ul class="notifyList scrollbar" style=" overflow-x: hidden; overflow-y: auto; overflow-wrap: break-word; max-height: 250px;background-color:#fff;">
                                                            <li>
                                                                <a href="#">
                                                                    <img class="avatar pull-left" src="images/avatar-1.png" alt="avatar">
                                                                    <div class="pulse border-grey"></div>
                                                                    <div class="notify pull-left">
                                                                        <div class="notifyName" style="font-weight: bold"> Essid </div><div class="texte">barcha t3ab ya m3allem</div>
                                                                        <div class="notifyTime">5 minutes ago</div>
                                                                    </div>
                                                                    <div class="clearfix"></div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <img class="avatar pull-left" src="images/avatar-1.png" alt="avatar">
                                                                    <div class="pulse border-grey"></div>
                                                                    <div class="notify pull-left">
                                                                        <div class="notifyName" style="font-weight: bold"> Essid </div><div class="texte">barcha t3ab ya m3allem</div>
                                                                        <div class="notifyTime">5 minutes ago</div>
                                                                    </div>
                                                                    <div class="clearfix"></div>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="#">
                                                                    <img class="avatar pull-left" src="images/avatar-1.png" alt="avatar">
                                                                    <div class="pulse border-grey"></div>
                                                                    <div class="notify pull-left">
                                                                        <div class="notifyName" style="font-weight: bold"> Essid </div><div class="texte">barcha t3ab ya m3allem</div>
                                                                        <div class="notifyTime">5 minutes ago</div>
                                                                    </div>
                                                                    <div class="clearfix"></div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <img class="avatar pull-left" src="images/avatar-1.png" alt="avatar">
                                                                    <div class="pulse border-grey"></div>
                                                                    <div class="notify pull-left">
                                                                        <div class="notifyName" style="font-weight: bold"> Essid </div><div class="texte">barcha t3ab ya m3allem</div>
                                                                        <div class="notifyTime">5 minutes ago</div>
                                                                    </div>
                                                                    <div class="clearfix"></div>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                        <a href="#" class="notifyAll">Afficher tous les messages</a>
                                                    </div>
                                                </div>
                                                <div class="headerNotifyWraper">
                                                    {% set Invitations = getInvitations(app.user.id) %}
                                                        <a href="#" class="headerNotify dropdown-toggle" data-toggle="dropdown">
                                                            <span class="notifyIcon icon-users"></span>
                                                            {% for invitation in Invitations %}  <span class="counter">{{ Invitations|length  }}</span>{% endfor %}
                                                        </a>
                                                        <div class="dropdown-menu pull-right notifyMenu" role="menu" style="width:380px">

                                                            <div class="notifyHeader">
                                                                <span>Demandes d'ajout</span>
                                                                <a href="#" class="notifySettings icon-settings"></a>
                                                                <div class="clearfix"></div>
                                                            </div>
                                                            <ul class="notifyList scrollbar" style=" overflow-x: hidden; overflow-y: auto; overflow-wrap: break-word; max-height: 250px;background-color:#fff;">
                                                                {% for invitation in Invitations %}  

                                                                    {% set UsersInvitations = getUsersInvitations(invitation.object1Id) %}
                                                                        <li>
                                                                            <div class="userWidget-2" style="margin-bottom:1px">
                                                                                <div class="avatar">
                                                                                    <a href="{{ path('show_profil', { 'id': invitation.object1Id}) }}"><img alt="avatar" src="{{ asset(UsersInvitations.WebPath) }}" style="
                                                                                                                                                            border-radius: 40px;
                                                                                                                                                            width: 60px;
                                                                                                                                                            height: 60px;"></a>
                                                                                </div>
                                                                                <div class="info">
                                                                                    <div class="notifyName" style="line-height:40px"><a href="#" style="color:#c02100"><strong>{{ invitation.username}}</strong></a></div>


                                                                                </div>
                                                                                <div class="ops">

                                                                                    <a id="accept_invitation" href="#" class="btn btn-round btn-o btn-danger btn-sm">Accepter</a>
                                                                                    <a id="delete_invitation" href="{{ path('delete_relation', { 'id': invitation.object1Id}) }}" class="btn btn-round btn-o btn-default btn-sm">Refuser</a>
                                                                                </div>
                                                                                <div class="clearfix"></div>
                                                                            </div>

                                                                        </li>

                                                                        {% endfor %}
                                                                        </ul>
                                                                        <a href="#" class="notifyAll">Afficher tout</a>
                                                                    </div>
                                                                </div>
                                                                <a href="#" class="mapHandler"><span class="icon-map"></span></a>
                                                                <div class="clearfix"></div>
                                                            </div>
                                                            <div id="leftSide" style="height: 355px;">
                                                                <nav class="leftNav scrollable">
                                                                    <div class="search">
                                                                        <span class="searchIcon icon-magnifier"></span>
                                                                        <input type="text" placeholder="Recherche Optimus...">
                                                                    </div>
                                                                    <ul><li class="hasSub">
                                                                            <a href="#"><span class="navIcon fa fa-comment"></span><span class="navLabel">Tchat</span><span class="fa fa-angle-left arrowRight"></span></a>
                                                                            <ul class="dropdown-menu scrollbar" role="menu" style="
                                                                                direction: rtl; 
                                                                                overflow-x: hidden;
                                                                                overflow-y: auto;
                                                                                overflow-wrap: break-word;
                                                                                height: 607px;
                                                                                background-color:#fff;
                                                                                ">
                                                                                {% set friends = getFriends(user.id) %}
                                                                                    {% for friend in friends %}

                                                                                        <li class="definedname"><a href="#" class="headerUser dropdown-toggle" data-toggle="dropdown">
                                                                                                <img class="avatar headerAvatar pull-left" src="{{ asset(friend.getWebPath) }}" alt="avatar">
                                                                                                <div class="userTop pull-left">
                                                                                                    <span class="headerUserName open">{{ friend.prenom }} {{ friend.nom }}</span> 
                                                                                                </div>
                                                                                                <div class="clearfix"></div>
                                                                                            </a></li>

                                                                                    {% endfor %}

                                                                                    <li class="divider"></li>

                                                                                </ul> 
                                                                            </li>
                                                                            <li>
                                                                                <a   href="{{ path('add_club') }}">
                                                                                    <span class="navIcon fa fa-users"></span>
                                                                                    <span class="navLabel">Club</span>
                                                                                </a>
                                                                            </li>
                                                                            <li class="divider"></li>
                                                                            <li>
                                                                                <a href="{{ path('add-event') }}">
                                                                                    <span class="navIcon fa fa-trophy"></span>
                                                                                    <span class="navLabel">Evenement</span>
                                                                                </a>
                                                                            </li>
                                                                            <br>
                                                                            <li class="agendx">	
                                                                                <div class="leftUserWraper dropup">
                                                                                    <a href="#">
                                                                                        <span class="navIcon fa fa-calendar"></span>
                                                                                        <span class="navLabel">Calendrier</span>
                                                                                    </a>
                                                                                </div>
                                                                            </li>	
                                                                        </ul>
                                                                    </nav>
                                                                    <!-- agenda**************************************************** -->




                                                                    <!--fin agenda**************************************************** -->

                                                                </div>
                                                                <div class="closeLeftSide"></div>
                                                                <div class="modal fade" id="signin" role="dialog" aria-labelledby="signinLabel" aria-hidden="true">
                                                                    <div class="modal-dialog modal-md">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h4 class="modal-title" id="signinLabel">Recherche Optimus</h4>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <form role="form">




                                                                                    <div class="form-group">
                                                                                        <input type="text" placeholder=" Nom d'évenement" class="search-optimus">
                                                                                        <input type="text" placeholder="Créateur" class="search-optimus">
                                                                                    </div>

                                                                                    <div class="form-group">
                                                                                        <div class="row">
                                                                                            <div class="col-xs-12">
                                                                                                <div class="form-group">

                                                                                                    <div class="col-md-12">

                                                                                                        <div id="date">
                                                                                                            <label ><span style="color: #C02100;font-weight: bold;">Date</span></label>
                                                                                                            <select id="jour" name="jour" class="btn btn-round btn-default" style="border-color:#c02100;font-family:montserrat;font-color:#2C3E50">
                                                                                                                <option value="1">01</option><option value="2">02</option><option value="3">03</option><option value="4">04</option><option value="5">05</option><option value="6">06</option><option value="7">07</option><option value="8">08</option><option value="9">09</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option></select>


                                                                                                            <select id="semaine" name="semaine" class="btn btn-round btn-default" style="border-color:#c02100;font-family:montserrat;font-color:#2C3E50">
                                                                                                                <option value="1">semaine1</option><option value="2">semaine2</option><option value="3">semaine3</option><option value="4">semaine4</option></select>


                                                                                                            <select id="mois" name="mois" class="btn btn-round btn-default" style="border-color:#c02100;font-family:montserrat;font-color:#2C3E50">
                                                                                                                <option value="1">janvier</option><option value="2">février</option><option value="3">mars</option><option value="4">avril</option><option value="5">mai</option><option value="6">juin</option><option value="7">juillet</option><option value="8">août</option><option value="9">septembre</option><option value="10">octobre</option><option value="11">novembre</option><option value="12">décembre</option></select>


                                                                                                            <select id="annee" name="annee" class="btn btn-round btn-default" style="border-color:#c02100;font-family:montserrat;font-color:#2C3E50">
                                                                                                                <option value="2015">2015</option><option value="2014">2014</option><option value="2013">2013</option><option value="2012">2012</option><option value="2011">2011</option><option value="2010">2010</option><option value="2009">2009</option><option value="2008">2008</option><option value="2007">2007</option><option value="2006">2006</option><option value="2005">2005</option><option value="2004">2004</option><option value="2003">2003</option><option value="2002">2002</option><option value="2001">2001</option><option value="2000">2000</option><option value="1999">1999</option><option value="1998">1998</option><option value="1997">1997</option><option value="1996">1996</option><option value="1995">1995</option><option value="1994">1994</option><option value="1993">1993</option><option value="1992">1992</option><option value="1991">1991</option><option value="1990">1990</option><option value="1989">1989</option><option value="1988">1988</option><option value="1987">1987</option><option value="1986">1986</option><option value="1985">1985</option><option value="1984">1984</option><option value="1983">1983</option><option value="1982">1982</option><option value="1981">1981</option><option value="1980">1980</option><option value="1979">1979</option><option value="1978">1978</option><option value="1977">1977</option><option value="1976">1976</option><option value="1975">1975</option><option value="1974">1974</option><option value="1973">1973</option><option value="1972">1972</option><option value="1971">1971</option><option value="1970">1970</option><option value="1969">1969</option><option value="1968">1968</option><option value="1967">1967</option><option value="1966">1966</option><option value="1965">1965</option><option value="1964">1964</option><option value="1963">1963</option><option value="1962">1962</option><option value="1961">1961</option><option value="1960">1960</option><option value="1959">1959</option><option value="1958">1958</option><option value="1957">1957</option><option value="1956">1956</option><option value="1955">1955</option><option value="1954">1954</option><option value="1953">1953</option><option value="1952">1952</option><option value="1951">1951</option><option value="1950">1950</option><option value="1949">1949</option><option value="1948">1948</option><option value="1947">1947</option><option value="1946">1946</option><option value="1945">1945</option><option value="1944">1944</option><option value="1943">1943</option><option value="1942">1942</option><option value="1941">1941</option><option value="1940">1940</option><option value="1939">1939</option><option value="1938">1938</option><option value="1937">1937</option><option value="1936">1936</option><option value="1935">1935</option><option value="1934">1934</option><option value="1933">1933</option><option value="1932">1932</option><option value="1931">1931</option><option value="1930">1930</option></select><br><br>

                                                                                                            <select id="events" name="events" class="inputoptimus" >
                                                                                                                <option value="1" selected="" disabled="">Type d'évenement</option>
                                                                                                                <option value="e1">évenement1</option>
                                                                                                                <option value="e2">évenement2</option>
                                                                                                                <option value="e3">évenement3</option>
                                                                                                                <option value="e4">évenement4</option>
                                                                                                                <option value="e5">évenement5</option>
                                                                                                                <option value="e6">évenement6</option>
                                                                                                                <option value="e7">évenement7</option>
                                                                                                                <option value="e8">évenement8</option>
                                                                                                            </select>



                                                                                                        </div>
                                                                                                    </div><div class="form-group">
                                                                                                        <input type="text" id="city" placeholder="Lieu" class="search-optimus" autocomplete="on">
                                                                                                    </div>

                                                                                                </div>
                                                                                            </div>

                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-group">
                                                                                        <div class="btn-group-justified">
                                                                                            <a href="#" class="btn btn-round btn-green btn-m"><span class="icon-magnifier"></span></a>
                                                                                        </div>
                                                                                    </div>

                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                {% endblock %}

                                                                    {% block javascripts %}
                                                                        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
                                                                        <script src="{{ asset('template/js/plugin.js') }}" type="text/javascript" ></script>
                                                                        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
                                                                        <script>
                                                                            $('#accept_invitation').click(function() {

                                                                                $.ajax({
                                                                                    url: Routing.generate('accept_relation', {'id': 4}),
                                                                                    type: "POST",
                                                                                    success: function() {

                                                                                    }
                                                                                });
                                                                            });
                                                                        </script>
                                                                        {% block javascriptfils %}
                                                                        {% endblock %}
                                                                    {% endblock %}