{% extends "FrontOfficeOptimusBundle::layout.html.twig" %}

 {% block stylesheets %}
<link rel="stylesheet" href="{{ asset('template/css/contentimus.css')}}">
  <link rel="stylesheet" href="{{ asset('template/css/progress.css') }}">
        {% endblock %}
{% block body %}
    
<!-- **************************** ici commence le contenu de la page ******************************************-->

<div id="wrapper">

<div id="content" class="max">

<div class="components">

<div class="row " >

<div class="singleTop whiteBg" style="height:584px">
<div class="progress_bar">
<hr class="all_steps">
<hr class="current_steps">
<div class="step current" id="step1" data-step="1">Choix du Club</div>
<div class="step" id="step2" data-step="2">Choix des Adherents</div>
<div class="step" id="step3" data-step="3">Validation</div>
</div>

<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" >
<div class="panel panel-default shadux">
<div class="panel-heading optimus">Mes Clubs</div>
<div class="panel-body">
<form role="form">
<ul class="notifyList scrollbar">
    {% for club in clubs %}
        {% if club.isPayant == 1%}
<div class="form-group">
<div class="set radio custom-radio" onclick="step_process(1, 2)" id="set1">
 <label><input type="radio" name="radio1"><span class="set fa fa-check optrect"id="set1"></span>{{ club.nom}}</label>
</div>
</div>
{% endif %}
{% endfor %}
</ul>
</form>
</div>
</div>
</div>


<div class="contentimus col-xs-12 col-sm-12 col-md-4 col-lg-4 " >
<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 page" id="page1">
<div class="panel panel-default page shadux" id="page1" >
<div class="panel-heading optimus">Liste des adherents</div>
<div class="panel-body">
<ul class="notifyList scrollbar">
<div class="checkbox custom-checkbox"><label><input type="checkbox"><span class="fa fa-check"></span> Choix 1</label></div>
<div class="checkbox custom-checkbox"><label><input type="checkbox"><span class="fa fa-check"></span> Choix 2</label></div>
<div class="checkbox custom-checkbox"><label><input type="checkbox"><span class="fa fa-check"></span> Choix 3</label></div>
<div class="checkbox custom-checkbox"><label><input type="checkbox"><span class="fa fa-check"></span> Choix 3</label></div>
<div class="checkbox custom-checkbox"><label><input type="checkbox"><span class="fa fa-check"></span> Choix 3</label></div>
<div class="checkbox custom-checkbox"><label><input type="checkbox"><span class="fa fa-check"></span> Choix 3</label></div>
<div class="checkbox custom-checkbox"><label><input type="checkbox"><span class="fa fa-check"></span> Choix 3</label></div>
<div class="checkbox custom-checkbox"><label><input type="checkbox"><span class="fa fa-check"></span> Choix 3</label></div>
<div class="checkbox custom-checkbox"><label><input type="checkbox"><span class="fa fa-check"></span> Choix 3</label></div>
<div class="checkbox custom-checkbox"><label><input type="checkbox"><span class="fa fa-check"></span> Choix 3</label></div>
<div class="checkbox custom-checkbox"><label><input type="checkbox"><span class="fa fa-check"></span> Choix 3</label></div>
<div class="checkbox custom-checkbox"><label><input type="checkbox"><span class="fa fa-check"></span> Choix 3</label></div>
<div class="checkbox custom-checkbox"><label><input type="checkbox"><span class="fa fa-check"></span> Choix 3</label></div>
</ul>
<div style="text-align: center">

<button type="button" onclick="step_process(2, 3)"  class="okus btn btn-round btn-green suivant" id="okus1">Suivant</button>

</div>

</div>

</div></div>
<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 page" id="page2">

<div class="panel panel-default shadux"  >
<div class="panel-heading optimus">Liste du Choix</div>
<div class="panel-body">

<div class="checkbox custom-checkbox"><label><input type="checkbox"><span class="fa fa-check"></span> Choix 1</label></div>
<div class="checkbox custom-checkbox"><label><input type="checkbox"><span class="fa fa-check"></span> Choix 2</label></div>
<div class="checkbox custom-checkbox"><label><input type="checkbox"><span class="fa fa-check"></span> Choix 3</label></div>
<div class="checkbox custom-checkbox"><label><input type="checkbox"><span class="fa fa-check"></span> Choix 4</label></div>
<div class="checkbox custom-checkbox"><label><input type="checkbox"><span class="fa fa-check"></span> Choix 5</label></div>
<div class="checkbox custom-checkbox"><label><input type="checkbox"><span class="fa fa-check"></span> Choix 6</label></div>
<div style="text-align: center">
<button type="button" onclick="step_process(2, 3)"  value="" class="okus btn btn-round btn-green" id="okus2">Suivant</button>

</div>


</div>
</div>
</div>



</div>


<div class="contentimus2 col-xs-12 col-sm-12 col-md-4 col-lg-4 " >
<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 final" id="final1">
<div class="panel panel-default shadux"  >
<div class="panel-heading optimus">hedhi resultat eli i5tarnéha min step 2</div>
<div class="panel-body">
<form role="form">
<div class="checkbox custom-checkbox"><label><input type="checkbox"><span class="fa fa-check"></span> Choix 1</label></div>
<div class="checkbox custom-checkbox"><label><input type="checkbox"><span class="fa fa-check"></span> Choix 2</label></div>
<div class="checkbox custom-checkbox"><label><input type="checkbox"><span class="fa fa-check"></span> Choix 3</label></div>
<div style="text-align: center">
<button type="reset" value="" onclick="step_process(3, 2, 'desc')" class="avant btn btn-round btn-green" id="avant">Précédent</button>

<button type="button" value="" class="btn btn-round btn-green">Confirmer</button>

</div>
</form>
</div>
</div></div>

<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 final" id="final2">
<div class="panel panel-default shadux"  >
<div class="panel-heading optimus">hedhi resultat lokhra mta3 step 3</div>
<div class="panel-body">
<form role="form">
<div class="checkbox custom-checkbox"><label><input type="checkbox"><span class="fa fa-check"></span> Choix 1</label></div>
<div class="checkbox custom-checkbox"><label><input type="checkbox"><span class="fa fa-check"></span> Choix 2</label></div>
<div class="checkbox custom-checkbox"><label><input type="checkbox"><span class="fa fa-check"></span> Choix 3</label></div>
<div style="text-align: center">
<button type="reset" value="" onclick="step_process(3, 2, 'desc')" class="avant btn btn-round btn-green" id="avant1">Précédent</button>

<button type="button" value="" class="btn btn-round btn-green">Confirmer</button>

</div>
</form>
</div>
</div></div>




</div>






</div>
</div>

</div>
</div>
<div class="clearfix"></div>
</div>




<!-- **************************** Fin contenu de page ******************************************-->


    {% endblock %}
    {% block javascriptfils %}
        <script src="{{ asset('template/js/progress.js') }}"></script>
<script src="{{ asset('template/js/contentimus.js') }}"></script>
         {% endblock %}
