{% for notif in datenotificationseen %}
    {% if notif.notifications.type == 'participation' %}
    <li id='notifParticipe{{notif.id}}' {% if notif.vu == 0 %}style="background: #EFEFEF;"{% endif %}>
        <a href="{{ path('show_event', { 'id' : notif.notifications.event.id }) }}">
            {% if notif.notifications.event.getWebPath %}
            <img class="avatar pull-left" src="{{ asset(notif.notifications.event.getWebPath)}}" alt="avatar">
            {% else %}
                <img class="avatar pull-left" src="{{ asset('event.png')}}" alt="avatar">
                {% endif %}
            <div class="pulse border-grey"></div>
            <div class="notify pull-left">
                <div class="notifyName">{{ notif.notifications.notificateur.prenom }} {{ notif.notifications.notificateur.nom }} a participer dans l'évènement {{ notif.notifications.event.titre }}</div>
                <div class="notifyTime">{{ notif.notifications.getDuréeNotification() }}</div>
            </div>
            <div class="clearfix"></div>
        </a>
    </li>
    {% else %}
        <li id='notifParticipe{{notif.id}}' {% if notif.vu == 0 %}style="background: #EFEFEF;"{% endif %}>
               <a href="{{ path('show_event', { 'id' : notif.notifications.event.id }) }}">
            {% if notif.notifications.event.getWebPath %}
            <img class="avatar pull-left" src="{{ asset(notif.notifications.event.getWebPath)}}" alt="avatar">
            {% else %}
                <img class="avatar pull-left" src="{{ asset('event.png')}}" alt="avatar">
                {% endif %}    
            
            <div class="pulse border-grey"></div>
            <div class="notify pull-left">
                <div class="notifyName">{{ notif.notifications.notificateur.prenom }} {{ notif.notifications.notificateur.nom }} a annuler sa participation de l'évènement {{ notif.notifications.event.titre }}</div>
                <div class="notifyTime">{{ notif.notifications.getDuréeNotification() }}</div>
            </div>
            <div class="clearfix"></div>
        </a>
    </li>
    {% endif %}
{% endfor %}*{{count|length}}*<script>{% set notifications = getNotifications(app.user) %}
          {% for notification in notifications  %}
                   $('body').on('click', '#notifParticipe{{notification.id}}', function ()
                        {
                           $.ajax({
                                type: "POST",
                                        url: '{{ path('notifParticipe_seen') }}',
                                        data: 'id=' + {{notification.id}},
                                        success: function() {
                                        var nb = parseInt($('#countNotif').text());
                                        
                                        var nouveauNb = nb - 1;
                                        if (nouveauNb > 0)
                                        {
                                        $('#countNotif').replaceWith(nouveauNb);
                                        }
                                        else
                                        {
                                        $('#nombre_notif').hide();
                                        }
                                        }

                        });
                        });
              {% endfor %}
{% for resultat in res  %}
    {% if resultat.type == "participation" %}
toastr8.googlePlus({
message:'<a href="{{ path('show_event', { 'id' : resultat.event.id }) }}"> a participer dans l\'évènement {{ resultat.event.titre }} </a>',
        title: '{{ resultat.notificateur.prenom }} {{ resultat.notificateur.nom }}',
        imgURI: ['http://www.optimus-beta.com/web/event.png']
});
{% elseif resultat.type == "AnnulerParticip" %}
toastr8.googlePlus({
message:'<a href="{{ path('show_event', { 'id' : resultat.event.id }) }}">a annuler sa participation de l\'évènement {{ resultat.event.titre }} </a>',
        title: '{{ resultat.notificateur.prenom }} {{ resultat.notificateur.nom }}',
        imgURI: ['http://www.optimus-beta.com/web/event.png']
});
{% endif %}
{% endfor %}
</script>
