{% extends "FrontOfficeOptimusBundle::layoutClub.html.twig" %}
{% block content %}
    <div class="col-lg-12"><div class="row mb20">
        </div>
        <div class="col-lg-12">
            <div class="tabsContainer">
                <ul class="nav nav-tabs nav-justified" role="tablist">
                    <li class=""><a href="#Programme" role="tab" data-toggle="tab"><span class="icon-trophy"></span> Programme</a></li>
                    <li class=""><a href="#palmares" role="tab" data-toggle="tab"><span class="icon-badge"></span> Palmares</a></li>
                    <li class=""><a href="#albums" role="tab" data-toggle="tab"><span class="icon-doc"></span> Albums</a></li>
                    <li class=""><a href="#videos" role="tab" data-toggle="tab"><span class="icon-film"></span> Vidéos</a></li>
                    <li class="active"><a href="#liste" role="tab"><span class="icon-user-following"></span> Liste adhérents</a></li>
                    <li class=""><a href="#demande" role="tab" ><span class="icon-user-unfollow"></span> Adhèrer</a></li>
                </ul>
                <div class="tab-content">
                    <ul class="tab-pane fade active in scrollbar" id="demande" >
                        <div class="row pb40">
                            {% for demande in demandes %}
                            <div class="col-md-4">
                                <div class="tooltipsContainer agent notifyList">
                                    <a href="profil.html" class=" btn btn-round agent-avatar"  data-toggle="tooltip" data-tooltip-class="red" data-placement="bottom" title="{{ demande.nom }} {{ demande.prenom }}">
                                        <img src="{{ asset(demande.WebPath) }}" alt="">
                                        <div class="pulse border-green pulseoptimus"></div>
                                    </a>
                                    <div class="info">
                                        <a href="#"> <div class="name clubumus"><strong>{{ demande.nom }} {{ demande.prenom }}</strong></div></a>
                                        <div class="title">{{ demande.profil }}</div>
                                    </div> <br>
                                    <div align="center">
                                        <a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="accepter"><span class="fa fa-check"></span></a>
                                        <a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="refuser"><span class="fa fa-close"></span></a>
                                    </div><br>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="clearfix"></div>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}