{% extends "FrontOfficeOptimusBundle::layoutClub.html.twig" %}
{% block content %}
    <div class="col-lg-12"><div class="row mb20">
        </div>
        <div class="col-lg-12">
            <div class="tabsContainer">
                <ul class="nav nav-tabs nav-justified" role="tablist">
                    <li class=""><a href="{{ path('show_club',{'id' : club.id})}}" role="tab" ><span class="icon-trophy"></span> Programme</a></li>
                    <li class="active"><a href="{{ path('palmares_club',{'id' : club.id}) }}" role="tab" data-toggle="tab"><span class="icon-badge"></span> Palmares</a></li>
                    <li class=""><a href="{{ path('albums_club', {'id' : club.id}) }}" role="tab" ><span class="icon-doc"></span> Albums</a></li>
                    <li class=""><a href="#videos" role="tab"><span class="icon-film"></span> Vidéos</a></li>
                     <li class=""><a href="{{ path('members_club',{'id':club.id})}}" role="tab" ><span class="icon-user-unfollow"></span> Adhérents</a></li>
                    <li class=""><a href="{{ path('members_request',{'id':club.id})}}" role="tab" ><span class="icon-user-following"></span> Demande</a></li>
                   
                </ul>
                <div class="tab-content">
                    <ul class="tab-pane fade active in scrollbar" id="palmares" >
                         <div class="buttonsWrapper col-md-12">
                            <a class="btn btn-round btn-default btn-sm rightus" href="#"><span class="fa icon-plus state"></span> <span class="state">Ajouter </span></a><br>
                            <br>
                        </div>
                        <div class="row">
                            <br>
                            {% for reward in rewards %}
                            <div class="col-md-4" >
                                <div data-linkto="" class="card albumus" >
                                    <br>
                                    <div class="profile-card">
                                        <div class="pc-avatar"><a href="#" class="btn btn-icon btn-round btn-o btn-pinterest palmaruss" ><span class="fa fa-child palmarus"></span></a></div>
                                        <div class="pc-name">{{ reward.titre}}</div>
                                    </div>
                                    <div align="center" >
                                        <a href="{{ path('reward_club_update', {'id':reward.club.id, 'idr': reward.id}) }}" class="btn btn-icon btn-round btn-green btn-xs" title="modifier"><span class="icon-settings"></span></a>
                                        <a href="{{ path('delete_reward_club', {'id':reward.id}) }}" class="btn btn-icon btn-round btn-green btn-xs" title="supprimer"><span class="icon-trash"></span></a>
                                    </div>
                                    <br>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="col-md-4" >
                                <div data-linkto="" class="card albumus" >
                                    <br>
                                    <div class="profile-card">
                                        <div class="pc-avatar"><a href="#" class="btn btn-icon btn-round btn-o btn-pinterest palmaruss" ><span class="fa fa-star palmarus"></span></a></div>
                                        <div class="pc-name">{{ reward.classment }}</div>
                                    </div>
                                    <div align="center" >
                                        <a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="modifier"><span class="icon-settings"></span></a>
                                        <a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="supprimer"><span class="icon-trash"></span></a>
                                    </div>
                                    <br>

                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="col-md-4" >
                                <div data-linkto="" class="card albumus" >
                                    <br>
                                    <div class="profile-card">
                                        <div class="pc-avatar"><a href="#" class="btn btn-icon btn-round btn-o btn-pinterest palmaruss" ><span class="fa fa-calendar palmarus"></span></a></div>
                                        <div class="pc-name">{{ reward.date|date('Y-m-d')}}</div>
                                    </div>
                                    <div align="center" >
                                        <a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="modifier"><span class="icon-settings"></span></a>
                                        <a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="supprimer"><span class="icon-trash"></span></a>
                                    </div>
                                    <br>

                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </ul>
                </div>
                <div class="clearfix"></div>









            </div>

        </div>

    </div>

{% endblock %}