{% extends "FrontOfficeOptimusBundle::layoutClub.html.twig" %}
{% block content %}
    <div class="col-lg-12"><div class="row mb20">



        </div>
        <div class="col-lg-12">
            <div class="tabsContainer">
                <ul class="nav nav-tabs nav-justified" role="tablist">
                    <li class=""><a href="{{ path('show_club',{'id' : club.id})}}" role="tab"><span class="icon-trophy"></span> Programme</a></li>
                    <li class=""><a href="{{ path('palmares_club',{'id' : club.id}) }}" role="tab" ><span class="icon-badge"></span> Palmares</a></li>
                    <li class="active"><a href="{{ path('albums_club',{'id' : club.id }) }}" role="tab" data-toggle="tab"><span class="icon-doc"></span> Albums</a></li>
                    <li class=""><a href="#videos" role="tab" ><span class="icon-film"></span> Vidéos</a></li>
                    <li class=""><a href="{{ path('members_request',{'id':club.id})}}" role="tab" ><span class="icon-user-following"></span> Liste adhérents</a></li>
                    <li class=""><a href="" role="tab" ><span class="icon-user-unfollow"></span> Adhèrer</a></li>
                </ul>
                <div class="tab-content">
                  
                    <ul class="tab-pane fade active in  scrollbar" id="albums" >
                      
                        <div class="buttonsWrapper col-md-12">
                            <a href="">{{ album.nom }}</a> - photos
                            <a class="btn btn-round btn-default btn-sm rightus" href="{{ path('photoClub_create',{'id': club.id , 'ida' : album.id}) }}"><span class="fa icon-plus state"></span> <span class="state">Upload</span></a><br>
                            <br>
                        </div>
                       {% for photo in photos %}
                        <div class="row">
                            <br>
                            <div class="col-md-3" >
                                  
                                <div data-linkto="" class="card albumus" >
                                    <div class="figure" id="main">
                                        <a href="{{ asset(photo.WebPath) }}" target="_self" class="inline-block litebox" data-litebox-group="group-1">
                                            <img src="{{ asset(photo.WebPath) }}" class="inline-block" />
                                        </a>
                                        <div class="figView">  </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                          
                            </div>
                            <div class="clearfix"></div>
                        </div>
                     {% endfor %}
                    </ul>
                </div>
                <div class="clearfix"></div>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}